# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\big_data\nodejs_auth\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
